build/
.venv/
__pycache__/
data/
xsim.dir/
*.jou
*.log
*.pb
*.wdb
*.str
ip/**/*.mif
ip/**/*_ooc.xdc
ip/**/*.veo
ip/**/*.vho
ip/**/*.xml
ip/**/summary.log
ip/**/doc/
ip/**/hdl/
ip/**/misc/
ip/**/sim/
ip/**/simulation/
ip/**/synth/
